.remittance-cards{
    max-width: 100% !important;
    border-radius: 6px;
    align-items: center;
    overflow: hidden;
    display: flex;
}
.remittance-cards-image{
    float: left;
    width: 70px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 6px;
}

.remittance-cards-info{
    float: left;
    //border : 1px solid blue;
    width: 90%;
}
.remittance-cards-name{
    margin: 0 0 5px 12px;
    font-size: 15px;
    color: #787993;
}
.remittance-cards-value{
    margin: 0 0 5px 12px;
    color: #000000;
}