.waiting-container{
    border-radius: 6px;
    border: 1px solid #e3e3e3;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction : column;
    padding: 36px;
    opacity: 1;
    animation: anim 1s;
}
.waiting-title{
    font-size: 24px;
    color: #25265e;
    text-align: center;
    text-align-last: center;
}
.waiting-text{
    font-size: 13px;
    text-align-last: center;
}

@keyframes  anim{
    from { opacity: 0}
    to { opacity: 1}
}